@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './layouts/sections.css';
@import './layouts/global.css';

/* TODO: installer SASS */

.black-color{
  color: #111111;
}

.white-color{
  color: #faf1f0;
}

.primary-color{
  color: #f83c23;
}

.secondary-color{
  color: #332e2e;
}
